      <div class="table-container overflow-auto">
        <table class="table table-thead-bordered table-sm">
          <thead class="thead-white">
            <tr>
              <th scope="col" class="text-center"><img id="navbar-logo-md" class="img-fluid" src="@@autopath/assets/img/specchem/logos/logo-transparent.png" alt="Logo"></th>
              <th scope="col" class="text-center">Dayton</th>
              <th scope="col" class="text-center">Nox-Crete</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="table-text-center table-primary h4">SpecTilt WB</td>
              <td class="table-text-center">J-6 WB, Maxi-Tilt E</td>
              <td class="table-text-center">Silcoseal 2000F/<br>Silcoseal Select</td>
            </tr>

            <tr>
              <td class="table-text-center table-primary h4">SpecTilt 100</td>
              <td class="table-text-center">J-6, Super Maxi Tilt</td>
              <td class="table-text-center">Silcoseal 100/<br>Silcoseal Classic</td>
            </tr>
          </tbody>
        </table>
    </div>