<div class="table-container overflow-auto">
  <table class="table table-thead-bordered table-sm">
    <thead class="thead-white">
      <tr>
        <th scope="col" class="text-center"><img id="navbar-logo-md" class="img-fluid" src="@@autopath/assets/img/specchem/logos/logo-transparent.png" alt="Logo"></th>
        <th scope="col" class="text-center">Euclid/Tamms</th>
        <th scope="col" class="text-center">BASF</th>
        <th scope="col" class="text-center">Dayton</th>
        <th scope="col" class="text-center">Misc.</th>
        <th scope="col" class="text-center">Misc.</th>
        <th scope="col" class="text-center">Misc.</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="table-text-center table-primary h4">Orange Peel</td>
        <td class="table-text-center">Euco Clean & Strip</td>
        <td class="table-text-center">Citrus Degreaser</td>
        <td class="table-text-center">J-48</td>
        <td class="table-text-center">(NX) BioClean</td>
        <td class="table-text-center">L&M Citrex</td>
        <td class="table-text-center">Vexcon MoistureBloc Floor Cleaner & Strip</td>
      </tr>

      <tr>
        <td class="table-text-center table-primary h4">SpecBlast</td>
        <td class="table-text-center">Concrete Blaster</td>
        <td></td>
        <td></td>
        <td class="table-text-center">Prosoco 600</td>
        <td class="table-text-center">Vexcon Certi-Vex Concrete Remover</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
