      <div class="table-container overflow-auto">
        <table class="table table-thead-bordered table-sm">
          <thead class="thead-white">
            <tr>
              <th scope="col" class="text-center"><img id="navbar-logo-md" class="img-fluid" src="@@autopath/assets/img/specchem/logos/logo-transparent.png" alt="Logo"></th>
              <th scope="col" class="text-center">Euclid/Tamms</th>
              <th scope="col" class="text-center">BASF</th>
              <th scope="col" class="text-center">W.R. Meadows</th>
              <th scope="col" class="text-center">Dayton</th>
              <th scope="col" class="text-center">Misc.</th>
              <th scope="col" class="text-center">Misc.</th>
              <th scope="col" class="text-center">Misc.</th>
              <th scope="col" class="text-center">Misc.</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td class="table-text-center table-primary h4">SC Cure 500 & E-Cure</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td class="table-text-center table-primary h4">Cure & Seal 25</td>
              <td class="table-text-center">Diamond Clear, Rez Seal, Super RezSeal</td>
              <td class="table-text-center">MasterKure CC 250 SB</td>
              <td class="table-text-center">CS-309-25</td>
              <td class="table-text-center">J-20, J-22</td>
              <td class="table-text-center">L&M Dress & Seal 25</td>
              <td class="table-text-center">ChemMasters Spray- Cure & Seal 25</td>
              <td class="table-text-center">TK-Kure & Seal 1315</td>
              <td></td>
            </tr>

            <tr>
              <td class="table-text-center table-primary h4">Cure & Seal 30</td>
              <td></td>
              <td class="table-text-center">MasterKure CC 300 SB</td>
              <td class="table-text-center">CS-309-30, Decra-Seal</td>
              <td class="table-text-center">J-23, J-25</td>
              <td class="table-text-center">(NX) Cure & Seal 1315 A</td>
              <td class="table-text-center">L&M Dress & Seal 30</td>
              <td class="table-text-center">Certi-Vex Gloss Sealer FT</td>
              <td></td>
            </tr>

            <tr>
              <td class="table-text-center table-primary h4">Cure & Seal WB</td>
              <td class="table-text-center">Aqua-Cure VOX, Diamond Clear VOX</td>
              <td class="table-text-center">MasterKure CC 160 WB</td>
              <td class="table-text-center">VOCOMP-20</td>
              <td class="table-text-center">J-18, J-19</td>
              <td class="table-text-center">(GS) Multi-Purpose Sealer</td>
              <td class="table-text-center">(NX) Cure & Seal 120 E</td>
              <td class="table-text-center">Lambert Corp. Glazecote 20</td>
              <td></td>
            </tr>

            <tr>
              <td class="table-text-center table-primary h4">Cure & Seal WB 25 </td>
              <td class="table-text-center">Super Aqua-Cure VOX, Super Diamond Clear VOX</td>
              <td></td>
              <td class="table-text-center">VOCOMP-30</td>
              <td class="table-text-center">J-19, J-22 WB, Cure & Seal 1315 EF</td>
              <td class="table-text-center">(NX) Cure & Seal 250 E</td>
              <td class="table-text-center">L&M Dress & Seal WB 25, Chemical Lumiseal WB Plus</td>
              <td class="table-text-center">V-Seal Industra-Gloss 350</td>
              <td></td>
            </tr>

            <tr>
              <td class="table-text-center table-primary h4">Cure & Seal 25 UV</td>
              <td class="table-text-center">Luster Seal 300, Super Diamond Clear</td>
              <td class="table-text-center">MasterKure CC 250 SB</td>
              <td class="table-text-center">CS-309-35, Tiah, Decra-Seal</td>
              <td class="table-text-center">J-22UV, J-25</td>
              <td class="table-text-center">L&M LumiSeal Plus</td>
              <td class="table-text-center">ChemMasters Traz 25</td>
              <td class="table-text-center">Lambert Corp. Exposite SB</td>
              <td></td>
            </tr>

            <tr>
              <td class="table-text-center table-primary h4">SpecRez</td>
              <td class="table-text-center">Kurez DR VOX, Kurez 100</td>
              <td></td>
              <td class="table-text-center">1100 - Clear</td>
              <td class="table-text-center">J9 - A, Clear Cure VOC J-7WB</td>
              <td class="table-text-center">L & M Cure R, W-2, Vexcon Certi-Vex Envio RC 1000</td>
              <td class="table-text-center">Anti-Hydro Curing Compound #2 WP WB</td>
              <td class="table-text-center">ChemMasters Safe-Cure 1000</td>
              <td class="table-text-center">Nox-Crete Res Cure DH 100, Lambert Aqua Kure Clear</td>
            </tr>
          </tbody>
      </table>
    </div>
