      <div class="table-container overflow-auto">
       <table class="table table-thead-bordered table-sm">
        <thead class="thead-white">
          <tr>
            <th scope="col" class="text-center"><img id="navbar-logo-md" class="img-fluid" src="@@autopath/assets/img/specchem/logos/logo-transparent.png" alt="Logo"></th>
            <th scope="col" class="text-center">Euclid/Tamms</th>
            <th scope="col" class="text-center">BASF</th>
            <th scope="col" class="text-center">Dayton</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="table-text-center table-primary h4">SpecPlate</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecPlate NOX</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecPlate Topping</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">Quartz Floor Hardener</td>
            <td class="table-text-center">Surflex</td>
            <td class="table-text-center">MasterTop 100</td>
            <td class="table-text-center">Quartz Tuff</td>
            <td class="table-text-center">Quartzplate FF</td>
            <td class="table-text-center">US Spec Dense Top</td>
            <td class="table-text-center">Anti-Hydro S-Q Hardener</td>
          </tr>
        </tbody>
      </table>
    </div>
