  <div class="table-container overflow-auto">
    <table class="table table-thead-bordered table-sm">
        <thead class="thead-white">
          <tr>
            <th scope="col" class="text-center"><img id="navbar-logo-md" class="img-fluid" src="@@autopath/assets/img/specchem/logos/logo-transparent.png" alt="Logo"></th>
            <th scope="col" class="text-center">Euclid/Tamms</th>
            <th scope="col" class="text-center">BASF</th>
            <th scope="col" class="text-center">SIKA</th>
            <th scope="col" class="text-center">W.R. Meadows</th>
            <th scope="col" class="text-center">Dayton</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="table-text-center table-primary h4">SpecFilm RTU</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="table-text-center">Evapre-RTU</td>
            <td class="table-text-center">Aquafilm, J-74 RTU</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecFilm Concentrate</td>
            <td class="table-text-center">Eucobar</td>
            <td class="table-text-center">MasterKure ER 50</td>
            <td class="table-text-center">Sika Film</td>
            <td class="table-text-center">Evapre</td>
            <td class="table-text-center">J-74, Aquafilm Conc</td>
            <td class="table-text-center">L&M E-Con</td>
            <td class="table-text-center">TK-Tri-Film 2120</td>
          </tr>
        </tbody>
      </table>
    </div>
