    <div class="table-container overflow-auto">
      <table class="table table-thead-bordered table-sm">
        <thead class="thead-white">
          <tr>
            <th scope="col" class="text-center"><img id="navbar-logo-md" class="img-fluid" src="@@autopath/assets/img/specchem/logos/logo-transparent.png" alt="Logo"></th>
            <th scope="col" class="text-center">Euclid/Tamms</th>
            <th scope="col" class="text-center">BASF</th>
            <th scope="col" class="text-center">W.R. Meadows</th>
            <th scope="col" class="text-center">Dayton</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="table-text-center table-primary h4">SpecStrip</td>
            <td class="table-text-center">Form Shield Pure</td>
            <td class="table-text-center">Cast-Off</td>
            <td class="table-text-center">Duogard, Duogard Citrus, Duogard NE</td>
            <td class="table-text-center">J-1, J-1-A</td>
            <td class="table-text-center">Cresset 727, Cresset Super Strip 60</td>
            <td class="table-text-center">L&M E-Z Strip, Debond</td>
            <td class="table-text-center">NoxCrete Chembeton 250</td>
            <td class="table-text-center">Lambert Form Release 88 VOC</td>
          </tr>
          
          <tr>
            <td class="table-text-center table-primary h4">SpecStrip Plus</td>
            <td>FormShield G</td>
            <td></td>
            <td></td>
            <td class="table-text-center">J-2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecStrip Supreme</td>
            <td class="table-text-center">Crystal Release VOC</td>
            <td class="table-text-center"></td>
            <td class="table-text-center">Duogard Plus</td>
            <td class="table-text-center">J-3</td>
            <td class="table-text-center">Crete-Lease 880 VOC</td>
            <td class="table-text-center">NoxCrete Form Coating 250, Plus</td>
            <td class="table-text-center">L&amp;M DeBond Gold</td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecStrip WB</td>
            <td class="table-text-center">FormShield WB</td>
            <td></td>
            <td class="table-text-center">Duogard II</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="table-text-center">Lamberts Corp. Form Release WB</td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">Precast 80</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="table-text-center">Crete-Lease 880</td>
            <td class="table-text-center">NoxCrete RA-10</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">Dry-Deck WB</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="table-text-center">Nox-PCE</td>
            <td class="table-text-center">PCE</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">Bio Strip WB</td>
            <td class="table-text-center">Form-EZE Natural</td>
            <td></td>
            <td></td>
            <td class="table-text-center">J-4 Bio, J-1EF, Farm Fresh XL</td>
            <td class="table-text-center">Crete-Lease BioTru</td>
            <td class="table-text-center">NoxCrete Bio-Nox</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
