    <div class="table-container overflow-auto">
      <table class="table table-thead-bordered table-sm">
        <thead class="thead-white">
          <tr>
            <th scope="col" class="text-center"><img id="navbar-logo-md" class="img-fluid" src="@@autopath/assets/img/specchem/logos/logo-transparent.png" alt="Logo"></th>
            <th scope="col" class="text-center">Euclid/Tamms</th>
            <th scope="col" class="text-center">BASF</th>
            <th scope="col" class="text-center">SIKA</th>
            <th scope="col" class="text-center">W.R. Meadows</th>
            <th scope="col" class="text-center">Dayton</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="table-text-center table-primary h4">SpecPrep SB</td>
            <td class="table-text-center">Duralprep AC</td>
            <td></td>
            <td class="table-text-center">Sika Armatec 110</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">Strong Bond</td>
            <td class="table-text-center">Flex-con, Akkro-7t</td>
            <td class="table-text-center">MasterEmaco A660</td>
            <td class="table-text-center">Sika Latex Acrylic, Sika Latex R</td>
            <td class="table-text-center">Acryl-Loc</td>
            <td class="table-text-center">J-40</td>
            <td class="table-text-center">L&M Everbond</td>
            <td class="table-text-center">TK-Liquid Bonding Agent 225</td>
            <td class="table-text-center">US Concrete Products HP Bondit</td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecWeld</td>
            <td class="table-text-center">EucoWeld, Tammsweld</td>
            <td class="table-text-center">Eco Weld</td>
            <td></td>
            <td class="table-text-center">Everweld</td>
            <td class="table-text-center">J-41</td>
            <td class="table-text-center">Larsen's Weld Crete</td>
            <td class="table-text-center">L&M Everweld</td>
            <td class="table-text-center">TK-Tri-Bond</td>
          </tr>
        </tbody>
      </table>
    </div>
