    <div class="table-container overflow-auto">
      <table class="table table-thead-bordered table-sm">
        <thead class="thead-white">
          <tr>
            <th scope="col" class="text-center"><img id="navbar-logo-md" class="img-fluid" src="@@autopath/assets/img/specchem/logos/logo-transparent.png" alt="Logo"></th>
            <th scope="col" class="text-center">Euclid/Tamms</th>
            <th scope="col" class="text-center">BASF</th>
            <th scope="col" class="text-center">W.R. Meadows</th>
            <th scope="col" class="text-center">Dayton</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="table-text-center table-primary h4">Cure Hard</td>
            <td class="table-text-center">Eucosil</td>
            <td class="table-text-center">MasterKure HD 110 WB</td>
            <td class="table-text-center">Med-Cure</td>
            <td class="table-text-center">J-13</td>
            <td class="table-text-center">L&M Chem Hard</td>
            <td class="table-text-center">L&M Cure</td>
            <td class="table-text-center">ChemMasters Chemisil</td>
            <td class="table-text-center">Nox-Crete Bro-Cure</td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">Spec-O-Lith</td>
            <td class="table-text-center">SurfHard</td>
            <td class="table-text-center">Lapidolith, HD 300WB</td>
            <td></td>
            <td></td>
            <td class="table-text-center">Lambert Corp. Solidus®</td>
            <td class="table-text-center">Vexcon StarSeal PS Clear</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">LithSeal SC</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="table-text-center">ConSolideck LS</td>
            <td class="table-text-center">L&M Lion Hard</td>
            <td class="table-text-center">Mapei Mapecrete™ Hard LI</td>
            <td class="table-text-center">Divergent Pentrasil NL</td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">LithSeal Lite</td>
            <td></td>
            <td></td>
            <td class="table-text-center">Liqui-Hard Ultra</td>
            <td class="table-text-center">Pentra Hard-Densifier</td>
            <td class="table-text-center">ConSolideck LS CS</td>
            <td class="table-text-center">Nox-Crete Duro-Nox LSC</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecGuard</td>
            <td class="table-text-center">Ultra Guard</td>
            <td></td>
            <td></td>
            <td class="table-text-center">Pentra-Hard Guard</td>
            <td class="table-text-center">(NX) DuroPolish Plus</td>
            <td class="table-text-center">TK-LS Hard N Guard Lithium Silicate Blend</td>
            <td class="table-text-center">Prosoco LS Guard</td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecHard</td>
            <td class="table-text-center">Euco Diamond Hard</td>
            <td class="table-text-center">MasterKure HD 210 WB</td>
            <td class="table-text-center">Liqui-Hard</td>
            <td class="table-text-center">J-17</td>
            <td class="table-text-center">Ashford Formula</td>
            <td class="table-text-center">(NX) DuroNox</td>
            <td class="table-text-center">L&M Seal Hard</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
