    <div class="table-container overflow-auto">
      <table class="table table-thead-bordered table-sm">
        <thead class="thead-white">
          <tr>
            <th scope="col" class="text-center"><img id="navbar-logo-md" class="img-fluid" src="@@autopath/assets/img/specchem/logos/logo-transparent.png" alt="Logo"></th>
            <th scope="col" class="text-center">Euclid/Tamms</th>
            <th scope="col" class="text-center">W.R. Meadows</th>
            <th scope="col" class="text-center">Dayton</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="table-text-center table-primary h4">SpecCity White</td>
            <td></td>
            <td></td>
            <td class="table-text-center">J9-A</td>
            <td class="table-text-center">(NX) CityCure WW</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">Pave Cure WW</td>
            <td class="table-text-center">Kurez VOX White Pigmented</td>
            <td class="table-text-center">1600-White</td>
            <td class="table-text-center">White Wax Cure</td>
            <td class="table-text-center">(RP) White Water Wax</td>
            <td class="table-text-center">(NX) DOT Road Cure WW</td>
            <td class="table-text-center">L&M Cure W</td>
            <td class="table-text-center">Lambert Wax Worx White</td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">Pave Cure Rez</td>
            <td class="table-text-center">Kurez DR VOX, Kurez R 100</td>
            <td class="table-text-center">1100-Clear</td>
            <td class="table-text-center">Clear Resin Cure </td>
            <td class="table-text-center">(RP) Clear Water Resin</td>
            <td class="table-text-center">L&M Cure R</td>
            <td class="table-text-center">TK-DC WB Dissipating Cure 2519</td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">Pave Cure Rez White</td>
            <td></td>
            <td class="table-text-center">1200-White</td>
            <td class="table-text-center">White Resin Cure</td>
            <td class="table-text-center">(RP) White Water Resin</td>
            <td class="table-text-center">L&M Cure R-2</td>
            <td class="table-text-center">Lambert AquaKure White</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
