    <div class="table-container overflow-auto">
      <table class="table table-thead-bordered table-sm">
        <thead class="thead-white">
          <tr>
            <th scope="col" class="text-center"><img id="navbar-logo-md" class="img-fluid" src="@@autopath/assets/img/specchem/logos/logo-transparent.png" alt="Logo"></th>
            <th scope="col" class="text-center">Euclid/Tamms</th>
            <th scope="col" class="text-center">BASF</th>
            <th scope="col" class="text-center">SIKA</th>
            <th scope="col" class="text-center">W.R. Meadows</th>
            <th scope="col" class="text-center">Dayton</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="table-text-center table-primary h4">SpecPoxy Binder</td>
            <td class="table-text-center">Flexolith</td>
            <td class="table-text-center">MasterSeal 350</td>
            <td class="table-text-center">Sikadur 22</td>
            <td></td>
            <td></td>
            <td class="table-text-center">TK-Epoxy Bridge Deck Overlay 2109</td>
            <td class="table-text-center">Poly-Carb, Inc. Mark-151.6, 154 Safe-T-Grid, 163</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecPoxy 500</td>
            <td class="table-text-center">Dural 50</td>
            <td class="table-text-center">MasterEmaco P 160</td>
            <td></td>
            <td></td>
            <td class="table-text-center">Pro Poxy 40 LV LM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecPoxy 1000</td>
            <td class="table-text-center">Dural #452 LV</td>
            <td class="table-text-center">MasterInject 1701</td>
            <td class="table-text-center">Sikadur Hi Mod 35</td>
            <td class="table-text-center">Rezi-Weld LV</td>
            <td class="table-text-center">J-56</td>
            <td class="table-text-center">Concressive 1375</td>
            <td class="table-text-center">(AT) Crackbond LR 321</td>
            <td class="table-text-center">TK-Epoxy Patch 211</td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecPoxy 2000</td>
            <td class="table-text-center">Dural #452 MV</td>
            <td class="table-text-center">MasterEmaco ADH 330</td>
            <td class="table-text-center">Sikadur Hi Mod 32</td>
            <td class="table-text-center">Rezi-Weld 1000</td>
            <td class="table-text-center">J-58, Pro Poxy 204</td>
            <td class="table-text-center">Concressive LPL</td>
            <td class="table-text-center">(AT) Ultrabond 2100</td>
            <td class="table-text-center">TK-EPO 2000 Bonding Agent</td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecPoxy 3000</td>
            <td class="table-text-center">Dural #452 Gel</td>
            <td class="table-text-center">MasterEmaco ADH 335</td>
            <td class="table-text-center">Sikadur Hi Mod 31</td>
            <td class="table-text-center">Rezi-weld Gel Paste</td>
            <td class="table-text-center">J-50, Pro-Poxy 300</td>
            <td class="table-text-center">Concressive 1444</td>
            <td class="table-text-center">(AT) Ultrabond 2300</td>
            <td class="table-text-center">Quikrete DOT Anchoring Epoxy</td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecPoxy 3000 FS</td>
            <td class="table-text-center">XDural Fast Set GelXX</td>
            <td class="table-text-center">Rapid Gel</td>
            <td class="table-text-center">Sikadur Hi Mod 33</td>
            <td class="table-text-center">Rezi-Weld Gel Paste</td>
            <td class="table-text-center">J-51 FS, Pro-Poxy 300 Fast</td>
            <td class="table-text-center">(AT) Ultrabond 1300</td>
            <td class="table-text-center">TK-Epoxy Crack Filler 9000 </td>
            <td class="table-text-center">DeNeef Denepox Rapid Gel</td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecPoxy Coating</td>
            <td class="table-text-center">Duralkote 240</td>
            <td class="table-text-center">MasterTop 1213</td>
            <td class="table-text-center">Sikafloor 261, Sikagard 62</td>
            <td></td>
            <td class="table-text-center">J-37</td>
            <td class="table-text-center">ChemMasters Duraguard 120</td>
            <td class="table-text-center">Tennant Eco-CEP</td>
            <td class="table-text-center">Vexcon PowerCoat Epoxy HD</td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">Poly Fix</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecPoxy C.J.</td>
            <td class="table-text-center">Euco 700</td>
            <td class="table-text-center">MasterSeal CR 335, 190</td>
            <td class="table-text-center">Sikadur 51 SL</td>
            <td class="table-text-center">Rezi-Weld Flex</td>
            <td class="table-text-center">J-52, Pro-Flex</td>
            <td class="table-text-center">Metzger McGuire MM-80</td>
            <td class="table-text-center">Tennant Eco-EJF System</td>
            <td class="table-text-center">Metzer-McGuire MM-80, MM80P</td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">Rapid Flex C.J</td>
            <td class="table-text-center">Euco QWIKjoint UVR</td>
            <td></td>
            <td class="table-text-center">Sika Loadflex 524 EZ</td>
            <td></td>
            <td></td>
            <td class="table-text-center">VersaFlex SL 85, 88 / Adhesives Technology Crackbond JF 311</td>
            <td class="table-text-center">Metzger/McGuire RS 88</td>
            <td class="table-text-center">Ardex Ardiseal Rapid Plus</td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">Rapid Flex 90</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="table-text-center">Metzger McGuire Edge Pro 90</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecPoxy Grout</td>
            <td class="table-text-center">E-3F, E-3G, E-3HP, Polygrout</td>
            <td class="table-text-center">MasterFlow 648 CP</td>
            <td class="table-text-center">Sikadur 42</td>
            <td class="table-text-center">Rezi-Weld 3/2</td>
            <td class="table-text-center">J-55, Pro-Poxy 2000 NS</td>
            <td class="table-text-center">L&M Epogrout 758</td>
            <td class="table-text-center">Vexcon Certi-Vex Epoxy Grout 100</td>
            <td class="table-text-center">L&M Epogrout 758</td>
            <td class="table-text-center">Five Star Epoxy Grout, Five Star DP Epoxy Grout</td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecPoxy Mortar </td>
            <td class="table-text-center">Duralflex Fastpatch</td>
            <td></td>
            <td class="table-text-center">Sikadur 43, Patch-Pak</td>
            <td></td>
            <td class="table-text-center">Sure Patch, Pro-Poxy 2500</td>
            <td class="table-text-center">Anti-Hydro Silica Epoxy Topping #140</td>
            <td class="table-text-center">Metzger/McGuire Armor-Hard</td>
            <td class="table-text-center">Lambert Corp. Epiweld® 9-N-7</td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecPoxy SealerXXX</td>
            <td class="table-text-center">Dural 50 LM</td>
            <td class="table-text-center">MasterFlow GP, MaterEmaco P 160</td>
            <td></td>
            <td></td>
            <td class="table-text-center">Pro-Poxy 50-1</td>
            <td class="table-text-center">TK-Bridge Deck & Crack Sealer 2110</td>
            <td class="table-text-center">DeNeef Denepox I-40</td>
            <td class="table-text-center">Five Star Products Rapid Surface Repair R-60</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
