    <div class="table-container overflow-auto">
      <table class="table table-thead-bordered table-sm">
        <thead class="thead-white">
          <tr>
            <th scope="col" class="text-center"><img id="navbar-logo-md" class="img-fluid" src="@@autopath/assets/img/specchem/logos/logo-transparent.png" alt="Logo"></th>
            <th scope="col" class="text-center">Euclid/Tamms</th>
            <th scope="col" class="text-center">SIKA</th>
            <th scope="col" class="text-center">W.R. Meadows</th>
            <th scope="col" class="text-center">Dayton</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="table-text-center table-primary h4">SpecEtch</td>
            <td class="table-text-center">Concrete Surface Retarder S</td>
            <td class="table-text-center">Rugasol S</td>
            <td class="table-text-center">Top Stop</td>
            <td class="table-text-center">Top Cast</td>
            <td class="table-text-center">TK-Concrete Surface Retarder 6000</td>
            <td class="table-text-center">Vexcon StarSeal Envio Set</td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecEtch Deep</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
