    <div class="table-container overflow-auto">
      <table class="table table-thead-bordered table-sm">
        <thead class="thead-white">
          <tr>
            <th scope="col" class="text-center"><img id="navbar-logo-md" class="img-fluid" src="@@autopath/assets/img/specchem/logos/logo-transparent.png" alt="Logo"></th>
            <th scope="col" class="text-center">Euclid/Tamms</th>
            <th scope="col" class="text-center">BASF</th>
            <th scope="col" class="text-center">W.R. Meadows</th>
            <th scope="col" class="text-center">Dayton</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
            <th scope="col" class="text-center">Misc.</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="table-text-center table-primary h4">All Shield WB</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">All Shield EX</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecShield WB</td>
            <td class="table-text-center">Weather-Guard, ChemStop WB, Baracade WB 244</td>
            <td class="table-text-center">White Roc 10 WB</td>
            <td></td>
            <td class="table-text-center">J-26 WB</td>
            <td class="table-text-center">(GS) Natural Look</td>
            <td class="table-text-center">L&M AquaPel</td>
            <td class="table-text-center">Silocks Plus Silpro</td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecSilane 20WB</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="table-text-center">J-29A</td>
            <td class="table-text-center">TK-590-100</td>
            <td class="table-text-center">Vexcon Certi-Vex Penseal 244 100</td>
            <td class="table-text-center">Pecora KlereSeal® 9100S</td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecSilane 40WB</td>
            <td class="table-text-center">Baracade Silane 40</td>
            <td class="table-text-center">Masterprotect H-400</td>
            <td class="table-text-center">Deck-O-Shield</td>
            <td class="table-text-center">J-29</td>
            <td class="table-text-center">L&M AquaPel Plus-Matches our SpecShield WB Extra</td>
            <td class="table-text-center">ChemMasters Aquanil Plus</td>
            <td class="table-text-center">Anti-Hydro Airdox 20</td>
            <td></td>
          </tr>

          <tr>
            <td class="table-text-center table-primary h4">SpecSilane 100</td>
            <td class="table-text-center">Baracade Silane 100C</td>
            <td></td>
            <td></td>
            <td class="table-text-center">Evonik Protectosil BHN</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="table-text-center">Protectosil Chemtrete BSM 400</td>
          </tr>
        </tbody>
      </table>
    </div>
