<!-- System 1 -->
  <div class="h1 mb-5">ALUMINUM FORMING SYSTEM</div>
  <ul class="step step-icon-lg">
    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-3-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">1</span></span>
        <div class="step-content">
          <h4>Season: Form Seasoning WB</h4>
          <p class="step-text">Form Seasoning WB is a water-based treatment for new aluminum forms. It oxidizes the elemental aluminum on the surface of new aluminum forms to properly season and prepare them for use.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-3-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">2</span></span>
        <div class="step-content">
          <h4>Prevent: SpecStrip</h4>
          <p class="step-text">SpecStrip is a chemically reactive release agent specially engineered to positively prevent bonding of the concrete to forms and form liners.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-3-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">3</span></span>
        <div class="step-content">
          <h4>Release: TriAct</h4>
          <p class="step-text">TriAct is a concentrated, highly-reactive petroleum mixture that, when properly diluted, can be used as a reactive form release agent, an aluminum form "seasoning" agent, and a softener and maintenance coating.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-9-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">4</span></span>
        <div class="step-content">
          <h4>Remove: SpecBlast</h4>
          <p class="step-text">A chemically reactive liquid formulated to soften and remove concrete buildup from concrete tools and equipment. SpecBlast is designed to help avoid the damaging effects of sandblasting, bushhammering, and jackhammering hardened concrete from equipment.</p>
        </div>
      </div>
    </li>
  </ul>
<!-- End System 1 -->