<!-- System 2 -->
<div class="h1 mb-5">CONCRETE POLISHING SYSTEM</div>
  <ul class="step step-icon-lg">
    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-1-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">1</span></span>
        <div class="step-content">
          <h4>Prime: SpecPoxy 1000</h4>
          <p class="step-text">A two-component, low-viscosity, moisture insensitive, high modulus, structural epoxy bonding adhesive and crack injection resin. SpecPoxy 1000 is 100% solids, solvent-free, low odor, and high-strength.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-7-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">2</span></span>
        <div class="step-content">
          <h4>Level: SpecLevel PCT</h4>
          <p class="step-text">A cement-based, self-leveling polishable comcrete topping designed for interior and exterior use. SpecLevel PCT produces a dense hard surface that can be diamond polished in as little as 24 hours.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-3-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">3</span></span>
        <div class="step-content">
          <h4>Densify: LithSeal or SpecHard</h4>
          <p class="step-text">TriAct is a concentrated, highly-reactive petroleum mixture that, when properly diluted, can be used as a reactive form release agent, an aluminum form "seasoning" agent, and a softener and maintenance coating.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-3-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">4</span></span>
        <div class="step-content">
          <h4>Polish: SpecGuard</h4>
          <p class="step-text">A chemically reactive liquid formulated to soften and remove concrete buildup from concrete tools and equipment. SpecBlast is designed to help avoid the damaging effects of sandblasting, bushhammering, and jackhammering hardened concrete from equipment.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-5-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">+</span></span>
        <div class="step-content">
          <h4>For existing concrete, clean & strip using Orange Peel before steps 3-4.</h4>
          <p class="step-text">An innovative solution for the toughest industrial applications. Effectively remove grease, grime, and other contaminants from architectural concrete and other surfaces. VOC compliant with a pleasant citrus odor.</p>
        </div>
      </div>
    </li>
  </ul>
<!-- End System 2 -->