<!-- System 4 -->
<div class="h1 mb-5">PAVING SYSTEM</div>
  <ul class="step step-icon-lg">
    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-3-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">1</span></span>
        <div class="step-content">
          <h4>SpecFilm</h4>
          <p class="step-text">When sprayed over fresh concrete, SpecFilm forms a thin, continuous film which prevents rapid moisture loss from the concrete surface.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-3-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">2</span></span>
        <div class="step-content">
          <h4>Pave Cure CW</h4>
          <p class="step-text">When properly applied, Pave Cure CW forms a continuous membrane that controls curing for strong and durable concrete.</p>
        </div>
      </div>
    </li>
  </ul>
<!-- End System 4 -->