<!-- System 5 -->
<div class="h1 mb-5">PRECAST SYSTEM</div>
  <ul class="step step-icon-lg">
    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-3-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">1</span></span>
        <div class="step-content">
          <h4>Precast 80</h4>
          <p class="step-text">A chemically active, fast-drying release agent specially engineered to positively prevent bonding of the concrete to forms in precast and shop use applications.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-3-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">2</span></span>
        <div class="step-content">
          <h4>Tricast</h4>
          <p class="step-text">TriAct is a concentrated, highly-reactive petroleum mixture that, when properly diluted, can be used as a reactive form release agent, an aluminum form "seasoning" agent, and a softener and maintenance coating.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-7-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">3</span></span>
        <div class="step-content">
          <h4>Final Finish</h4>
          <p class="step-text">A single-component, rapid-hardening, polymer-modified concrete resurfacing mortar for smoothing, resurfacing, rubbing, and restoring concrete surfaces.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-7-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">4</span></span>
        <div class="step-content">
          <h4>SpecPatch</h4>
          <p class="step-text">A general-purpose polymer-modified, concrete repair mortar for concrete floors, walls, precast, tilt-up, and masonry surfaces.</p>
        </div>
      </div>
    </li>
  </ul>
<!-- End System 5 -->