<!-- System 7 -->
<div class="h1 mb-5">TILT-UP SYSTEM</div>
  <ul class="step step-icon-lg">
    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-3-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">1</span></span>
        <div class="step-content">
          <h4>Prevent: SpecFilm</h4>
          <p class="step-text">SpecFilm is designed to be used as an evaporation retardant and finishing aid on concrete flatwork of all types. When sprayed over fresh concrete, SpecFilm forms a thin, continuous film which prevents rapid moisture loss from the concrete surface.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-3-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">2</span></span>
        <div class="step-content">
          <h4>Lift: SpecTilt WB</h4>
          <p class="step-text">SpecTilt WB is a chemically reactive tilt-up cure and bond breaker specially engineered to provide a clean, easy lift of tilt-up panels.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-5-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">3</span></span>
        <div class="step-content">
          <h4>Clean: Orange Peel</h4>
          <p class="step-text">Orange Peel concentrate is a cost effective, natural citrus solvent, cleaner, and degreaser. Orange Peel is an innovative cleaning solution for the toughest industrial applications.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-3-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">4</span></span>
        <div class="step-content">
          <h4>Seal: SpecHard</h4>
          <p class="step-text">SpecHard is a proprietary, colorless chemical solution that increases the wear surface strength of concrete floors subjected to pedestrian and vehicle traffic. SpecHard penetrates concrete surfaces to seal, densify, and harden.</p>
        </div>
      </div>
    </li>

    <li class="step-item">
      <div class="step-content-wrapper">
        <span class="step-icon step-icon-soft-primary avatar avatar-xxl avatar-circle me-2">
          <img class="step-avatar-img avatar-img" src="/assets/img/specchem/icons/systems/icon-1-stroke.png" alt="Image Description">
          <span class="avatar-status avatar-lg-status avatar-status-primary">5</span></span>
        <div class="step-content">
          <h4>Fill: Rapid Flex CJ or SpecPoxy CJ</h4>
          <p class="step-text">Our control joint fillers are both engineered to offer strength and protection for your control and construction joints in industrial concrete floors. Both are two-component products, coming in a semi-rigid epoxy or a rapid-curing, fast-setting polyurea.</p>
        </div>
      </div>
    </li>
  </ul>
<!-- End System 7 -->