<header id="header" class="navbar navbar-expand-lg navbar-end navbar-sticky-top navbar-light bg-white">
  <nav class="bg-white js-mega-menu navbar-nav-wrap">
    
    <!-- TopBar Section -->
    <div class="container-fluid border-bottom py-2">
      <div class="row">
        <div class="col-4 text-center">
          <div>
            <a href="@@autopath/index.html">
              <div class="d-none d-md-none d-lg-block mx-auto">
                <img id="navbar-logo-lg" class="navbar-brand-logo" src="@@autopath/assets/img/specchem/logos/sc_primary.png" alt="Logo">
              </div>
                <div class="d-none d-md-block d-lg-none mx-auto">
                  <img id="navbar-logo-md" class="navbar-brand-logo" src="@@autopath/assets/img/specchem/logos/sc_primary.png" alt="Logo">
                </div>
                <div class="d-xs-block d-sm-block d-md-none mx-auto">
                  <img id="navbar-logo-sm" class="navbar-brand-logo pb-3" src="@@autopath/assets/img/specchem/logos/sc_primary.png" alt="Logo">
                </div>
            </a>
          </div>
        </div>

        <div class="col-4 text-center">
            <div class="h2 pt-2 d-none d-sm-none d-md-block">
              <a class="link link-dark" href="tel: 816-968-5600">
                <i class="bi-telephone-inbound-fill me-1"></i> 816-968-5600
              </a>
            </div>
            <div class="h4 d-xs-block d-sm-block d-md-none mx-auto">
              <a class="link link-dark" href="tel: 816-968-5600">
                <i class="bi-telephone-inbound-fill me-1"></i>816-968-5600
              </a>
            </div>
          <!-- Socials -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded-3" href="#">
                    <i class="bi-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded-3" href="#">
                    <i class="bi-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded-3" href="#">
                    <i class="bi-linkedin"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded-3" href="#">
                    <i class="bi-youtube"></i>
                  </a>
                </li>
              </ul>
              <!-- End Socials -->
        </div>

      <div class="col-4 text-center order-3">
        <form role="search">
          <!-- Search -->
            <!-- Select -->
            <div class="tom-select-custom w-100 mx-auto">
              <select class="js-select form-select" autocomplete="off" onchange="location = this.value;"
                      data-hs-tom-select-options='{
                        "searchInDropdown": true,
                        "hidePlaceholderOnSearch": true,
                        "placeholder": "Search Products"
                      }'>
                <option value="">Search products</option>
                <option value="all-shield-ex.html">All Shield EX</option>
                <option value="all-shield-wb.html">All Shield WB</option>
                <option value="aqua-shine.html">Aqua Shine</option>
                <option value="berry-clean.html">Berry Clean</option>
                <option value="bio-strip-wb-concentrate.html">Bio Strip WB Concentrate</option>
                <option value="bio-strip-wb.html">Bio Strip WB</option>
                <option value="cleanlift-2020.html">Clean Lift 20/20</option>
                <option value="concrete-glue.html">Concrete Glue</option>
                <option value="crystal-rez.html">Crystal Rez</option>
                <option value="crystal-shine-matte.html">Crystal Shine Matte</option>
                <option value="crystal-shine.html">Crystal Shine</option>
                <option value="c-set.html">C-Set</option>
                <option value="cure-hard.html">Cure Hard</option>
                <option value="cure-seal-25-ex.html">Cure & Seal 25 EX</option>
                <option value="cure-seal-25-uv-ex.html">Cure & Seal 25 UV EX</option>
                <option value="cure-seal-25-uv.html">Cure & Seal 25 UV</option>
                <option value="cure-seal-25.html">Cure & Seal 25</option>
                <option value="cure-seal-30-ex.html">Cure & Seal 30 EX</option>
                <option value="cure-seal-ex.html">Cure & Seal EX</option>
                <option value="cure-seal-30.html">Cure & Seal 30</option>
                <option value="cure-seal-wb-25.html">Cure & Seal WB 25</option>
                <option value="cure-seal-wb-30.html">Cure & Seal WB 30</option>
                <option value="cure&-seal-wb.html">Cure & Seal WB</option>
                <option value="cure-shield-ex.html">Cure Shield EX</option>
                <option value="cure-shield.html">Cure Shield</option>
                <option value="deco-liquid-release.html">Deco Liquid Release</option>
                <option value="deco-shine-brown-ex.html">Deco Shine Brown EX</option>
                <option value="deco-shine-matte.html">Deco Shine Matte</option>
                <option value="deco-shine.html">Deco Shine</option>
                <option value="dry-deck-wb.html">Dry Deck WB</option>
                <option value="duo-patch.html">Duo Patch</option>
                <option value="e-cure.html">E-Cure</option>
                <option value="ez-clean-release.html">EZ Clean &amp; Release</option>
                <option value="final-finish.html">Final Finish</option>
                <option value="form-seasoning-wb.html">Form Seasoning WB</option>
                <option value="intracon.html">IntraCon</option>
                <option value="k-set.html">K-Set</option>
                <option value="lithseal-lite.html">LithSeal Lite</option>
                <option value="lithseal-sc.html">LithSeal SC</option>
                <option value="max-patch-acp.html">Max-A-Patch ACP</option>
                <option value="max-seal-asphalt-paint.html">Max-A-Seal Asphalt Paint</option>
                <option value="max-seal-dp.html">Max-A-Seal DP</option>
                <option value="max-seal-wp.html">Max-A-Seal WP</option>
                <option value="max-tack-ttc.html">Max-A-Tack TTC</option>
                <option value="orange-peel-citrus-cleaner.html">Orange Peel</option>
                <option value="overcrete.html">OverCrete</option>
                <option value="pave-cure-ams.html">Pave Cure AMS</option>
                <option value="pave-cure-cw.html">Pave Cure CW</option>
                <option value="pave-cure-cw-w-dye-tx-type-i.html">Pave Cure CW W/Dye TX Type I</option>
                <option value="pave-cure-rez.html">Pave Cure Rez</option>
                <option value="pave-cure-rez-white-tx-type-ii.html">Pave Cure Rez White - TX Type II</option>
                <option value="pave-cure-rez-white.html">Pave Cure Rez White</option>
                <option value="pave-cure-ww.html">Pave Cure WW</option>
                <option value="pave-cure-ww-tx-type-ii.html">Pave Cure WW - TX Type II</option>
                <option value="pave-cure-ww-300.html">Pave Cure WW-300</option>
                <option value="polycure.html">PolyCure</option>
                <option value="poly-fix.html">Poly Fix</option>
                <option value="por-rok.html">Por-Rok</option>
                <option value="precast-80.html">Precast 80</option>
                <option value="quartz-floor-hardener.html">Quartz Floor Hardener</option>
                <option value="rapid-flex-90.html">Rapid Flex 90</option>
                <option value="rapid-flex-cj-control-joint-filler.html">Rapid Flex CJ</option>
                <option value="rapid-flex-cj-colorant-system.html">Rapid Flex Colorant System</option>
                <option value="repcon-h.html">RepCon H</option>
                <option value="repcon-h-350.html">RepCon H-350</option>
                <option value="repcon-928-fs.html">RepCon 928 FS</option>
                <option value="repcon-928.html">RepCon 928</option>
                <option value="repcon-uw-mortar.html">RepCon UW Mortar</option>
                <option value="repcon-vo.html">RepCon V/O</option>
                <option value="revcrete.html">RevCrete</option>
                <option value="sc-concrete-finish.html">SC Concrete Finish</option>
                <option value="sc-cure-500.html">SC Cure 500</option>
                <option value="sc-foundation-coating.html">SC Foundation Coating</option>
                <option value="sc-metallic-grout.html">SC Metallic Grout</option>
                <option value="sc-multipurpose-grout.html">SC Multi-purpose Grout</option>
                <option value="sc-multi-purpose-sealer.html">SC Multi-purpose Sealer</option>
                <option value="sc-precision-grout.html">SC Precision Grout</option>
                <option value="sc-precision-grout-hs.html">SC Precision Grout HS</option>
                <option value="sealer-renew.html">Sealer Renew</option>
                <option value="sleek-1000-slu.html">Sleek 1000 SLU</option>
                <option value="solvent-100.html">Solvent 100</option>
                <option value="specblast.html">SpecBlast</option>
                <option value="spec-cj-guard.html">Spec CJ Guard</option>
                <option value="speccity-white.html">SpecCity White</option>
                <option value="specetch-deep.html">SpecEtch Deep</option>
                <option value="specetch.html">SpecEtch</option>
                <option value="specfilm-concentrate.html">SpecFilm Concentrate</option>
                <option value="specfilm.html">SpecFilm RTU</option>
                <option value="specflex.html">SpecFlex</option>
                <option value="specflow.html">SpecFlow</option>
                <option value="specguard.html">SpecGuard</option>
                <option value="spechard.html">SpecHard</option>
                <option value="speclevel-pct-2.html">SpecLevel PCT</option>
                <option value="spec-o-lith.html">Spec-O-Lith</option>
                <option value="specpatch-light.html">SpecPatch Light</option>
                <option value="specpatch-5-2.html">SpecPatch 5</option>
                <option value="specpatch-15.html">SpecPatch 15</option>
                <option value="specpatch-30.html">SpecPatch 30</option>
                <option value="specplate-floor-topping.html">SpecPlate Floor Topping</option>
                <option value="specplate-hardener.html">SpecPlate Hardener</option>
                <option value="specplate-nox.html">SpecPlate NOX</option>
                <option value="specplug.html">SpecPlug</option>
                <option value="specpoxy-binder.html">SpecPoxy Binder</option>
                <option value="specpoxy-cj.html">SpecPoxy CJ</option>
                <option value="specpoxy-coating.html">SpecPoxy Coating</option>
                <option value="specpoxy-grout-hs.html">SpecPoxy Grout HS</option>
                <option value="specpoxy-grout.html">SpecPoxy Grout</option>
                <option value="specpoxy-mortar.html">SpecPoxy Mortar</option>
                <option value="specpoxy-sealer.html">SpecPoxy Sealer</option>
                <option value="specpoxy-500.html">SpecPoxy 500</option>
                <option value="specpoxy-2000-lpl.html">SpecPoxy 2000 LPL</option>
                <option value="specpoxy-2000.html">SpecPoxy 2000</option>
                <option value="specpoxy-3000-fs.html">SpecPoxy 3000 FS</option>
                <option value="specpoxy-3000.html">SpecPoxy 3000</option>
                <option value="specpoxy-1000.html">SpecPoxy 1000</option>
                <option value="specprep-sb.html">SpecPrep SB</option>
                <option value="specprime.html">SpecPrime</option>
                <option value="specrez.html">SpecRez</option>
                <option value="specrock.html">SpecRock</option>
                <option value="specshield-sb.html">SpecShield SB</option>
                <option value="specshield-wb.html">SpecShield WB</option>
                <option value="specshield-wb-extra.html">SpecShield WB Extra</option>
                <option value="specshot-plus.html">SpecShot Plus</option>
                <option value="specsilane-20-wb.html">SpecSilane 20 WB</option>
                <option value="specsilane-40.html">SpecSilane 40</option>
                <option value="specsilane-40-wb.html">SpecSilane 40 WB</option>
                <option value="specsilane-100.html">SpecSilane 100</option>
                <option value="specsmooth.html">SpecSmooth</option>
                <option value="specstrip.html">SpecStrip</option>
                <option value="specstrip-plus.html">SpecStrip Plus</option>
                <option value="specstrip-supreme.html">SpecStrip Supreme</option>
                <option value="specstrip-ultra-blue.html">SpecStrip Ultra Blue</option>
                <option value="specstrip-voc-100.html">SpecStrip VOC 100</option>
                <option value="specstrip-wb.html">SpecStrip WB</option>
                <option value="spectilt-ex.html">SpecTilt EX</option>
                <option value="spectilt-wb.html">SpecTilt WB</option>
                <option value="spectilt-100.html">SpecTilt 100</option>
                <option value="specweld.html">SpecWeld</option>
                <option value="strong-bond-acrylic-bonder.html">Strong Bond</option>
                <option value="stuccobond.html">StuccoBond</option>
                <option value="super-por-rok.html">Super Por-Rok</option>
                <option value="super-specplug.html">Super SpecPlug</option>
                <option value="surface-grip.html">Surface Grip</option>
                <option value="surface-shine.html">Surface Shine</option>
                <option value="surface-shine-ex.html">Surface Shine EX</option>
                <option value="surface-shine-brown.html">Surface Shine Brown</option>
                <option value="surface-shine-brown-ex.html">Surface Shine Brown EX</option>
                <option value="surface-shine-gray-ex.html">Surface Shine Gray EX</option>
                <option value="surface-shine-gray.html">Surface Shine Gray</option>
                <option value="surface-shine-wb.html">Surface Shine WB</option>
                <option value="total-patch.html">Total Patch</option>
                <option value="tri-act.html">TriAct</option>
                <option value="uw-grout.html">UW Grout</option>
                <option value="versa-etch.html">Versa Etch</option>
                <option value="v-release.html">V-Release</option>
                <option value="xylene.html">Xylene</option>
              </select>
            </div>
            <!-- End Select -->
          </form>
        </div>
      </div>
    </div>
    <!-- End TopBar Section -->

    <!-- SecondRow Navigation -->
    <div class="container-fluid d-flex flex-wrap py-3 border-bottom futura-pt-heavy">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-default">
          <i class="bi-list"></i>
        </span>
        <span class="navbar-toggler-toggled">
          <i class="bi-x"></i>
        </span>
      </button>
      <!-- End Toggler -->
      
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-sticky-top-scroller">
          <ul class="navbar-nav">
            @@include("../navbar/navbar-nav-menu-sc2.html", {
              "category": "@@category",
              "subcategory": "@@subcategory",
              "link": "@@link"
            })

            <!-- Button -->
            <li class="nav-item">
              <a class="btn btn-warning btn-transition text-white" href="contact.html" target="_blank">Contact Us</a>
            </li>
            <!-- End Button -->
          </ul>
        </div>
      </div>
      <!-- End Collapse -->
    </div>
    <!-- End SecondRow Navigation -->

  </nav>
</header>
