<!-- Contact Modal -->
  <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- Header -->
          <div class="modal-close">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <!-- End Header -->

      <!-- Form -->
        <form id="contact-form" class="w-75 mx-auto my-7">
          <div class="row gx-3">
            <div class="col-sm-6">
            <div class="mb-3">
              <label class="form-label" for="hireUsFormFirstName">First name</label>
              <input type="text" class="form-control form-control-lg" name="hireUsFormNameFirstName" id="firstname" placeholder="First name" aria-label="First name">
            </div>
          </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="hireUsFormLasttName">Last name</label>
                <input type="text" class="form-control form-control-lg" name="hireUsFormNameLastName" id="lastname" placeholder="Last name" aria-label="Last name">
              </div>
            </div>
          </div>

          <div class="row gx-3">
            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="hireUsFormWorkEmail">Email address</label>
                <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="email@site.com" aria-label="email@site.com">
              </div>
          </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="hireUsFormPhone">Phone <span class="form-label-secondary">(Optional)</span></label>
                <input type="text" class="form-control form-control-lg" name="phone" id="phone" placeholder="(###)###-####" aria-label="(###)###-####">
              </div>
            </div>
        </div>

            <div class="mb-3">
              <label class="form-label" for="hireUsFormDetails">Message</label>
              <textarea class="form-control form-control-lg" name="message" id="message" placeholder="How can we help?" aria-label="How can we help?" rows="4"></textarea>
            </div>

            <div class="d-grid">
              <button type="submit" id="form-submit" class="btn btn-primary btn-lg">Send</button>
              <div id="msgSubmit" class="h3 text-center hidden"></div>
            </div>

            <div class="text-center">
              <p class="form-text">We'll get back to you in 1-2 business days.</p>
            </div>
        </form>
      <!-- End Form -->
    </div>
  </div>
</div>
<!-- End Contact Modal -->

<!-- App Modal -->
  <div class="modal fade" id="appModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-close">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- End Header -->

        <!-- Content -->
          <div class="text-center">
          <p class="">We'll get back to you in 1-2 business days.</p>
        </div>
        <!-- End Content -->
      </div>
    </div>
  </div>
<!-- End App Modal -->
