<div class="bg-light">
  <div class="container py-4 mt-8 w-100">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          <a href="@@autopath/products.html" class="zi-998 stretched-link position-relative">Products</a>
        </li>
        <li class="breadcrumb-item">
          <a href=@@category-link class="zi-998 stretched-link position-relative">@@category</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@@product</li>
      </ol>
    </nav>
  </div>
</div>

