<div class="container-fluid py-3 bg-dark position-relative">
  <div class="w-md-50 w-lg-75">
    <div class="d-flex gap-3 justify-content-evenly">
      <div class="">
        <div class="h3 pt-4 text-white">Data Sheets:</div>
      </div>
      <div class="card card-flush card-transition bg-dark zi-998" style="position: relative;">
        <a class="px-3 stretched-link" download="@@techsheet" href="assets/img/specchem/icons/tds-pdf-icon-yellow.png" title="@@techtitle" style="position: relative;">
          <img src="assets/img/specchem/icons/tds-pdf-icon-yellow.png" alt="Card image cap" style="max-height:72px; max-width: 72px;">
        </a>
      </div>
      <div class="card card-flush card-transition bg-dark zi-998" style="position: relative;">
        <a class="px-3 stretched-link" download="@@safetysheet" href="assets/img/specchem/icons/sds-pdf-icon-yellow.png" title="@@safetytitle">
          <img src="assets/img/specchem/icons/sds-pdf-icon-yellow.png" alt="Card image cap" style="max-height:72px; max-width: 72px;">
        </a>
      </div>
      <div class="card card-flush card-transition bg-dark zi-998" style="position: relative;">
        <a class="px-3 stretched-link" download="@@sellsheet" href="assets/img/specchem/icons/sell-pdf-icon-yellow.png" title="@@selltitle" style="position: relative;">
          <img src="assets/img/specchem/icons/sell-pdf-icon-yellow.png" alt="Card image cap" style="max-height:72px; max-width: 72px;">
        </a>
      </div>
    </div>
  </div>
</div>