<div>
<!-- Gallery -->
    <div class="row gx-2">
      <div class="col-4 align-self-end mb-2">
        <div class="ms-md-8">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem//products/cleaners-and-strippers/gallery/specblast-2.png" loading="lazy" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->

      <div class="col-8 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="../assets/img/thumbnails/yt-specblast.png" loading="lazy" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "ygTUTI2JArY",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->
          
      <div class="col-8 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/cleaners-and-strippers/gallery/berry-clean-before-after.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <div class="me-md-8">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem//products/cleaners-and-strippers/gallery/orange-peel-sporting-1.png" loading="lazy" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
    <!-- End Gallery -->
