<div>
<!-- Gallery -->
    <div class="row gx-2">
      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer1" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-cure-and-sealwb.png" loading="lazy" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "9StI1KtR6b0",
                "parentSelector": "#youTubeVideoPlayer1",
                "targetSelector": "#youTubeVideoIframe1",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe1"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->
          
      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer2" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-sc-cure-500.png" loading="lazy" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "uV_0MgHxbq4",
                "parentSelector": "#youTubeVideoPlayer2",
                "targetSelector": "#youTubeVideoIframe2",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe2"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->
          
      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer3" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-specrez.png" loading="lazy" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "JyRnxP4cC-c",
                "parentSelector": "#youTubeVideoPlayer3",
                "targetSelector": "#youTubeVideoIframe3",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe3"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
          
    <div class="row gx-2">
      <div class="col-4 align-self-end mb-2">
        <div class="ms-md-8">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/curing-compounds-and-cure-and-sealers/gallery/cure-seal-4.png" loading="lazy" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->

      <div class="col-4 mb-2">
        <div class="me-md-8">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/curing-compounds-and-cure-and-sealers/gallery/e-cure.png" loading="lazy" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/curing-compounds-and-cure-and-sealers/gallery/e-cure-3.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/curing-compounds-and-cure-and-sealers/gallery/cure-seal-6.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <div class="me-md-8">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/curing-compounds-and-cure-and-sealers/gallery/cure-and-seal.png" loading="lazy" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/curing-compounds-and-cure-and-sealers/gallery/cure-seal-25-wb.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <div class="me-md-8">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/curing-compounds-and-cure-and-sealers/gallery/cure-seal-wb-2.png" loading="lazy" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/curing-compounds-and-cure-and-sealers/gallery/cure-seal-wb.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <div class="me-md-8">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/curing-compounds-and-cure-and-sealers/gallery/e-cure-5.png" loading="lazy" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/curing-compounds-and-cure-and-sealers/gallery/trucking-facility-before.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <div class="me-md-8">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/curing-compounds-and-cure-and-sealers/gallery/trucking-facility-after.png" loading="lazy" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/curing-compounds-and-cure-and-sealers/gallery/cure-seal-3.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <div class="me-md-8">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/curing-compounds-and-cure-and-sealers/gallery/cure-seal-2.png" loading="lazy" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/curing-compounds-and-cure-and-sealers/gallery/e-cure-4.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <div class="me-md-8">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/curing-compounds-and-cure-and-sealers/gallery/cure-seal-5.png" loading="lazy" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
<!-- End Gallery -->
