<div>
<!-- Gallery -->
    <div class="row gx-2">
      <div class="col-4 mb-2">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/bio-strip.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/bio-strip-2.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/bio-strip-3.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/bio-strip-4.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/bio-strip-5.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/bio-strip-6.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/bio-strip-7.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/bio-strip-8.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/bio-strip-9.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/bio-strip-10.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/bio-strip-11.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/bio-strip-12.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/form-release-2.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/form-release-3.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/form-release-4.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/form-release-5.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/form-release-6.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/form-release-7.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/form-release-agents-and-form-treatment/gallery/v-release.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
<!-- End Gallery -->
