<div>
<!-- Gallery -->
  <!--Videos -->
    <div class="row mb-5">
      <div class="col-md-6">
        <!-- Video Block -->
          <div id="youTubeVideoPlayer1" class="video-player video-player-inline-btn rounded-2">
            <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-spectilt-wb.png" loading="lazy" alt="Image">

            <!-- Play Button -->
            <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
                data-hs-video-player-options='{
                  "videoId": "7XxM8JcsHXw",
                  "parentSelector": "#youTubeVideoPlayer1",
                  "targetSelector": "#youTubeVideoIframe1",
                  "isAutoplay": true
               }'>
              <span class="video-player-icon shadow-sm">
                <i class="bi-play-fill"></i>
              </span>
            </a>
            <!-- End Play Button -->

            <!-- Video Iframe -->
            <div class="ratio ratio-16x9">
                  <div id="youTubeVideoIframe1"></div>
            </div>
            <!-- End Video Iframe -->
          </div>
        <!-- End Video Block -->
      </div>
      <div class="col-md-6">
        <!-- Video Block -->
          <div id="youTubeVideoPlayer2" class="video-player video-player-inline-btn rounded-2">
            <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-spectiltwb-2.png" loading="lazy" alt="Image">

            <!-- Play Button -->
            <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
                data-hs-video-player-options='{
                  "videoId": "odkrJZR3hN4",
                  "parentSelector": "#youTubeVideoPlayer2",
                  "targetSelector": "#youTubeVideoIframe2",
                  "isAutoplay": true
               }'>
              <span class="video-player-icon shadow-sm">
                <i class="bi-play-fill"></i>
              </span>
            </a>
            <!-- End Play Button -->

            <!-- Video Iframe -->
            <div class="ratio ratio-16x9">
                  <div id="youTubeVideoIframe2"></div>
            </div>
            <!-- End Video Iframe -->
          </div>
        <!-- End Video Block -->
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6">
        <!-- Video Block -->
          <div id="youTubeVideoPlayer3" class="video-player video-player-inline-btn rounded-2">
            <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-spectilt-100-2.png" loading="lazy" alt="Image">

            <!-- Play Button -->
            <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
                data-hs-video-player-options='{
                  "videoId": "vDld69In4h0",
                  "parentSelector": "#youTubeVideoPlayer3",
                  "targetSelector": "#youTubeVideoIframe3",
                  "isAutoplay": true
               }'>
              <span class="video-player-icon shadow-sm">
                <i class="bi-play-fill"></i>
              </span>
            </a>
            <!-- End Play Button -->

            <!-- Video Iframe -->
            <div class="ratio ratio-16x9">
                  <div id="youTubeVideoIframe3"></div>
            </div>
          <!-- End Video Iframe -->
          </div>
        <!-- End Video Block -->
      </div>
      <div class="col-md-6">
        <!-- Video Block -->
          <div id="youTubeVideoPlayer4" class="video-player video-player-inline-btn rounded-2">
            <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-spectilt-wb-3.png" loading="lazy" alt="Image">

            <!-- Play Button -->
            <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
                data-hs-video-player-options='{
                  "videoId": "LbuAdCGYU0Q",
                  "parentSelector": "#youTubeVideoPlayer4",
                  "targetSelector": "#youTubeVideoIframe4",
                  "isAutoplay": true
               }'>
              <span class="video-player-icon shadow-sm">
                <i class="bi-play-fill"></i>
              </span>
            </a>
            <!-- End Play Button -->

            <!-- Video Iframe -->
            <div class="ratio ratio-16x9">
                  <div id="youTubeVideoIframe4"></div>
            </div>
            <!-- End Video Iframe -->
          </div>
        <!-- End Video Block -->
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer5" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-spectilt-100-2.png" loading="lazy" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "oJlaeLPH-MQ",
                "parentSelector": "#youTubeVideoPlayer5",
                "targetSelector": "#youTubeVideoIframe5",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe5"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <div class="col-md-6">
      </div>
    </div>
  <!-- End Videos -->

  <!-- Photos -->
    <div class="row mb-5">
      <div class="col-md-4">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/tilt-up-bond-breakers/gallery/tilt-up-1.png" loading="lazy" alt="Image Description">
      </div>
      <div class="col-md-4">
         <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/tilt-up-bond-breakers/gallery/spectilt-wb.png" loading="lazy" alt="Image Description">
      </div>
      <div class="col-md-4">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/tilt-up-bond-breakers/gallery/tilt-up-4.png" loading="lazy" alt="Image Description">
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-4">
         <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/tilt-up-bond-breakers/gallery/tilt-up-5.png" loading="lazy" alt="Image Description">
      </div>
      <div class="col-md-4">
         <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/tilt-up-bond-breakers/gallery/tilt-up-3.png" loading="lazy" alt="Image Description">
      </div>
      <div class="col-md-4">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/tilt-up-bond-breakers/gallery/tilt-up-2.png" loading="lazy" alt="Image Description">
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-4">
         <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/tilt-up-bond-breakers/gallery/spectilt-ex.png" loading="lazy" alt="Image Description">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
    </div>
  <!-- End Photos -->
</div>
<!-- End Gallery -->
