<div>
<!-- Gallery -->
    <div class="row gx-2">
      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer1" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-specshield-wb-2.png" loading="lazy" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "FdGW5yCZXRs",
                "parentSelector": "#youTubeVideoPlayer1",
                "targetSelector": "#youTubeVideoIframe1",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe1"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer2" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-specshield-wb.png" loading="lazy" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "9ZyCd4N3wLY",
                "parentSelector": "#youTubeVideoPlayer2",
                "targetSelector": "#youTubeVideoIframe2",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe2"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->
    </div>
          
    <div class="row gx-2">
      <div class="col-4 mb-2">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/water-repellents/gallery/all-shield-5.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/water-repellents/gallery/all-shield-6.jpg" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/water-repellents/gallery/all-shield-7.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/water-repellents/gallery/all-shield-8.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/water-repellents/gallery/all-shield-wb-2.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/water-repellents/gallery/all-shield-wb-3.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/water-repellents/gallery/all-shield-wb-4.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/water-repellents/gallery/all-shield-wb.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/water-repellents/gallery/driveway.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/water-repellents/gallery/maday-driveway-1.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/water-repellents/gallery/specshield-wb.png" loading="lazy" alt="Image Description">
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
<!-- End Gallery -->
