    <!-- Navbar -->
      <div class="navbar-expand-lg">
        <!-- Navbar Toggle -->
        <div class="d-grid">
          <button type="button" class="navbar-toggler btn btn-white mb-3" data-bs-toggle="collapse" data-bs-target="#navbarVerticalNavMenuEg3" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenuEg3">
            <span class="d-flex justify-content-between align-items-center">
              <span class="text-dark">Menu</span>

              <span class="navbar-toggler-default">
                <i class="bi-list"></i>
              </span>

              <span class="navbar-toggler-toggled">
                <i class="bi-x"></i>
              </span>
            </span>
          </button>
        </div>
        <!-- End Navbar Toggle -->

        <!-- Navbar Collapse -->
        <div id="navbarVerticalNavMenuEg3" class="collapse navbar-collapse">
          <div id="shopNavCategories" class="nav nav-pills nav-vertical">
            <!-- Collapse -->
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesTwo" aria-expanded="true" aria-controls="shopCategoriesTwo">
              <i class="bi-tv nav-icon"></i> Bond Breakers
            </a>

            <div id="shopCategoriesTwo" class="nav-collapse collapse show" data-bs-parent="#shopNavCategories">
              <div id="shopNavCategoriesTwo">
                <!-- Collapse -->
                <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesTwoSubOne" aria-expanded="true" aria-controls="shopCategoriesTwoSubOne">
                  TV & video devices
                </a>

                <div id="shopCategoriesTwoSubOne" class="nav-collapse collapse show" data-bs-parent="#shopNavCategoriesTwo">
                  <a class="nav-link active" href="#">Accessories</a>
                  <a class="nav-link" href="#">Kitchen</a>
                  <a class="nav-link" href="#">Living room</a>
                </div>
                <!-- End Collapse -->

                <a class="nav-link" href="#">Cooling & air treatment</a>
                <a class="nav-link" href="#">Vacuums & floor care</a>
              </div>
            </div>
            <!-- End Collapse -->

            <!-- Collapse -->
            <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesOne" aria-expanded="false" aria-controls="shopCategoriesOne">
              <i class="bi-display nav-icon"></i> Cleaners, Strippers &amp; Misc. Chemicals
            </a>

            <div id="shopCategoriesOne" class="nav-collapse collapse" data-bs-parent="#shopNavCategories">
              <div id="shopNavCategoriesOne">
                <!-- Collapse -->
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesOneSubOne" aria-expanded="false" aria-controls="shopCategoriesOneSubOne">
                  Electronic accessories
                </a>

                <div id="shopCategoriesOneSubOne" class="nav-collapse collapse" data-bs-parent="#shopNavCategoriesOne">
                  <a class="nav-link" href="#">Mobile accessories</a>
                  <a class="nav-link" href="#">Portable audio</a>
                  <a class="nav-link" href="#">Wearable</a>
                  <a class="nav-link" href="#">Console accessories</a>
                  <a class="nav-link" href="#">Camera accessories</a>
                  <a class="nav-link" href="#">Computer accessories</a>
                  <a class="nav-link" href="#">Storage</a>
                  <a class="nav-link" href="#">Printers</a>
                  <a class="nav-link" href="#">Computer components</a>
                </div>
                <!-- End Collapse -->

                <a class="nav-link" href="#">Mobiles</a>
                <a class="nav-link" href="#">Tablets</a>
                <a class="nav-link" href="#">Laptops</a>
                <a class="nav-link" href="#">Desktops</a>
                <a class="nav-link" href="#">Gaming consoles</a>
                <a class="nav-link" href="#">Car cameras</a>
                <a class="nav-link" href="#">Security cameras</a>
                <a class="nav-link" href="#">Digital cameras</a>
                <a class="nav-link" href="#">Gadgets</a>
              </div>
            </div>
            <!-- End Collapse -->

            <a class="nav-link" href="#">
              <i class="bi-shop nav-icon"></i> Clothing
            </a>

            <!-- Collapse -->
            <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesThree" aria-expanded="false" aria-controls="shopCategoriesThree">
              <i class="bi-heart nav-icon"></i> Curing Compounds &amp; Cure and Sealers
            </a>

            <div id="shopCategoriesThree" class="nav-collapse collapse" data-bs-parent="#shopNavCategories">
              <div id="shopNavCategoriesThree">
                <a class="nav-link" href="#">Food supplements</a>
                <a class="nav-link" href="#">Skincare</a>
                <a class="nav-link" href="#">Makeup</a>

                <!-- Collapse -->
                <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesThreeSubOne" aria-expanded="false" aria-controls="shopCategoriesThreeSubOne">
                  Beauty tools
                </a>

                <div id="shopCategoriesThreeSubOne" class="nav-collapse collapse" data-bs-parent="#shopNavCategoriesThree">
                  <a class="nav-link" href="#">Men</a>
                  <a class="nav-link" href="#">Women</a>
                </div>
                <!-- End Collapse -->

                <!-- Collapse -->
                <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesThreeSubTwo" aria-expanded="false" aria-controls="shopCategoriesThreeSubTwo">
                  Medical supplies
                </a>

                <div id="shopCategoriesThreeSubTwo" class="nav-collapse collapse" data-bs-parent="#shopNavCategoriesThree">
                  <a class="nav-link" href="#">Men</a>
                  <a class="nav-link" href="#">Women</a>
                </div>
                <!-- End Collapse -->
              </div>
            </div>
            <!-- End Collapse -->

            <a class="nav-link" href="#">
              <i class="bi-earbuds nav-icon"></i> Accessories
            </a>

            <a class="nav-link" href="#">
              <i class="bi-speaker-fill nav-icon"></i> Sound System
            </a>

            <a class="nav-link" href="#">
              <i class="bi-smartwatch nav-icon"></i> Smartwatch
            </a>

            <!-- Collapse -->
            <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesFour" aria-expanded="false" aria-controls="shopCategoriesFour">
              <i class="bi-piggy-bank nav-icon"></i> 
            </a>

            <div id="shopCategoriesFour" class="nav-collapse collapse" data-bs-parent="#shopNavCategories">
              <div id="shopNavCategoriesFour">
                <!-- Collapse -->
                <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesFourSubOne" aria-expanded="false" aria-controls="shopCategoriesFourSubOne">
                  Foods
                </a>

                <div id="shopCategoriesFourSubOne" class="nav-collapse collapse" data-bs-parent="#shopNavCategoriesFour">
                  <a class="nav-link" href="#">Feeding</a>
                  <a class="nav-link" href="#">Milk formula</a>
                </div>
                <!-- End Collapse -->

                <a class="nav-link" href="#">Diapering & potty</a>
                <a class="nav-link" href="#">Nursery</a>
                <a class="nav-link" href="#">Baby personal care</a>
                <a class="nav-link" href="#">Clothing & accessories</a>
                <a class="nav-link" href="#">Baby and & toys</a>
              </div>
            </div>
            <!-- End Collapse -->

            <a class="nav-link" href="#">
              <i class="bi-tools nav-icon"></i> Tools
            </a>

            <a class="nav-link" href="#">
              <i class="bi-eyeglasses nav-icon"></i> Glasses
            </a>

            <!-- Collapse -->
            <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesFive" aria-expanded="false" aria-controls="shopCategoriesFive">
              <i class="bi-truck nav-icon"></i> Dry Shake Hardeners &amp; Toppings
            </a>

            <div id="shopCategoriesFive" class="nav-collapse collapse" data-bs-parent="#shopNavCategories">
              <!-- Collapse -->
              <a class="nav-link dropdown-toggle collapsed" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#shopCategoriesFiveSubOne" aria-expanded="false" aria-controls="shopCategoriesFiveSubOne">
                Automotive
              </a>

              <div id="shopCategoriesFiveSubOne" class="nav-collapse collapse" data-bs-parent="#shopNavCategoriesFour">
                <a class="nav-link" href="#">Services & installations</a>
                <a class="nav-link" href="#">Auto oils & fluids</a>
              </div>
              <!-- End Collapse -->

              <a class="nav-link" href="#">Interior accessories</a>
              <a class="nav-link" href="#">Exterior accessories</a>
              <a class="nav-link" href="#">Car audio</a>
              <a class="nav-link" href="#">Auto care</a>
              <a class="nav-link" href="#">Riding gear</a>
            </div>
            <!-- End Collapse -->
          </div>
        </div>
        <!-- End Navbar Collapse -->
      </div>
      <!-- End Navbar -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Categories Section -->