<!-- Gallery -->
    <div class="row gx-2">
      <div class="col-4 mb-2">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/dry-shake-hardeners-and-toppings/gallery/dry-shake.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/dry-shake-hardeners-and-toppings/gallery/dry-shake-2.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/dry-shake-hardeners-and-toppings/gallery/dry-shake-3.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/dry-shake-hardeners-and-toppings/gallery/dry-shake-4.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/dry-shake-hardeners-and-toppings/gallery/dry-shake-5.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/dry-shake-hardeners-and-toppings/gallery/dry-shake-6.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/dry-shake-hardeners-and-toppings/gallery/dry-shake-7.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/dry-shake-hardeners-and-toppings/gallery/dry-shake-8.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/dry-shake-hardeners-and-toppings/gallery/dry-shake-9.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/dry-shake-hardeners-and-toppings/gallery/dry-shake-10.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/dry-shake-hardeners-and-toppings/gallery/dry-shake-11.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/dry-shake-hardeners-and-toppings/gallery/dry-shake-12.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/dry-shake-hardeners-and-toppings/gallery/dry-shake-13.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/dry-shake-hardeners-and-toppings/gallery/quartz-floor-hardener.png" alt="Image Description">
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
<!-- End Gallery -->