<!-- Gallery -->
    <div class="row gx-2">
      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-polyfix.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "BFRbEu29jq4",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-polyfix-2.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "7e0p9HU072Y",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-polyfix-3.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "E72ku4w2d8o",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-polyfix4.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "MMG9Vp1FroI",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-rapid-flex-90.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "K7vGojNl6wQ",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-rapidflex-cj.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "xFUQRrsFK4Q",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-rapidflex-cj-2.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "HYCfsmWva_I",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-rapid-flexcj-3.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "QgPVTFcb8D0",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-rapidflex-cj-4.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "hfvQU8J_sw0",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-specpoxy-grout-hs.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "KqTLV-sJPWI",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-specpoxy-grout.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "5vJyIGmnI3E",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-specpoxy-grout-2.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "FOjeVMs_VYE",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-specpoxy-grout-3.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "KDXokWA6u2w",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-specpoxy-grout-4.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "cFXOi5v63ak",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-specpoxy500.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "r_fefj90wrY",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-specpoxy-3000-fs.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "FpbxwCsbBlU",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->

      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-specpoxy-1000.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "rxD4FEia67o",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->
    </div>
          
    <div class="row gx-2">
      <div class="col-4 mb-2">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/specialty-epoxies-and-polyurea-products/gallery/polyfix-1.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/specialty-epoxies-and-polyurea-products/gallery/polyfix-2.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/specialty-epoxies-and-polyurea-products/gallery/polyfix-3.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/specialty-epoxies-and-polyurea-products/gallery/polyfix-4.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/specialty-epoxies-and-polyurea-products/gallery/polyfix-5.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/specialty-epoxies-and-polyurea-products/gallery/polyfix-6.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/specialty-epoxies-and-polyurea-products/gallery/polyfix-7.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/specialty-epoxies-and-polyurea-products/gallery/rapidflex-1.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/specialty-epoxies-and-polyurea-products/gallery/rapidflex-2.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/specialty-epoxies-and-polyurea-products/gallery/rapidflex-3.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/specialty-epoxies-and-polyurea-products/gallery/rapidflex-4.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/specialty-epoxies-and-polyurea-products/gallery/rapidflex-5.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/specialty-epoxies-and-polyurea-products/gallery/specpoxy-1.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/specialty-epoxies-and-polyurea-products/gallery/specpoxy-2.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/specialty-epoxies-and-polyurea-products/gallery/specpoxy-3.png" alt="Image Description">
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
<!-- End Gallery -->