<!-- Gallery -->
    <div class="row gx-2">
      <div class="col-4 align-self-end mb-2">
        <div class="ms-md-8">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/tilt-up-bond-breakers/gallery/tilt-up-1.png" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->

      <div class="col-8 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-spectilt-wb.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "7XxM8JcsHXw",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->
          
      <div class="col-8 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-spectilt-wb-2.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "odkrJZR3hN4",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <div class="me-md-8">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/tilt-up-bond-breakers/gallery/spectilt-wb.png" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->
          
      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-spectilt-100-2.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "vDld69In4h0",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->
          
      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-spectilt-wb-3.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "LbuAdCGYU0Q",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->
          
      <div class="col-8 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/tilt-up-bond-breakers/gallery/tilt-up-4.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <div class="me-md-8">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/tilt-up-bond-breakers/gallery/tilt-up-5.png" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->
          
      <div class="col-6 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/tilt-up-bond-breakers/gallery/tilt-up-3.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-6 mb-2">
        <div class="me-md-8">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/tilt-up-bond-breakers/gallery/tilt-up-2.png" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->
          
      <div class="col-8 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-spectilt-100-2.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "oJlaeLPH-MQ",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <div class="me-md-8">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/tilt-up-bond-breakers/gallery/spectilt-ex.png" alt="Image Description">
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
<!-- End Gallery -->