<!-- Gallery -->
    <div class="row gx-2">
      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-max-a-patch-acp.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "EqDK-lU67Zw",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->


      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-max-a-patch-acp-2.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "kt_yfimERok",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->


      <div class="col-6 mb-2">
        <!-- Video Block -->
        <div id="youTubeVideoPlayer" class="video-player video-player-inline-btn rounded-2">
          <img class="img-fluid video-player-preview rounded-2" src="@@autopath/assets/img/thumbnails/yt-max-a-patch-acp-medium.png" alt="Image">

          <!-- Play Button -->
          <a class="js-inline-video-player video-player-btn video-player-centered" href="javascript:;"
              data-hs-video-player-options='{
                "videoId": "e4_b4XNRsu8",
                "parentSelector": "#youTubeVideoPlayer",
                "targetSelector": "#youTubeVideoIframe",
                "isAutoplay": true
             }'>
            <span class="video-player-icon shadow-sm">
              <i class="bi-play-fill"></i>
            </span>
          </a>
          <!-- End Play Button -->

          <!-- Video Iframe -->
          <div class="ratio ratio-16x9">
                <div id="youTubeVideoIframe"></div>
          </div>
          <!-- End Video Iframe -->
        </div>
        <!-- End Video Block -->
      </div>
      <!-- End Col -->
    </div>
          
    <div class="row gx-2">
      <div class="col-4 mb-2">
          <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/waterproofing-and-damp-proofing/gallery/max-a-patch-1.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/waterproofing-and-damp-proofing/gallery/max-a-patch-2.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/waterproofing-and-damp-proofing/gallery/max-a-patch-3.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/waterproofing-and-damp-proofing/gallery/max-a-patch-4.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/waterproofing-and-damp-proofing/gallery/max-a-patch-5.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/waterproofing-and-damp-proofing/gallery/max-a-patch-6.png" alt="Image Description">
      </div>
      <!-- End Col -->
          
      <div class="col-4 mb-2">
        <img class="img-fluid rounded-2" src="@@autopath/assets/img/specchem/products/waterproofing-and-damp-proofing/gallery/max-a-patch-7.png" alt="Image Description">
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
<!-- End Gallery -->