<!-- Products -->
<li class="hs-has-sub-menu nav-item">
  <a id="accountMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='account'){active}" href="#" role="button" aria-expanded="false">Products</a>

  <!-- Mega Menu -->
  <div class="hs-sub-menu dropdown-menu" aria-labelledby="accountMegaMenu" style="min-width: 14rem;">
    <!-- Bond Breakers -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Bond Breakers</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/specchem-product.html">Clean Lift 20/20</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/specchem-product.html">SpecTilt 100</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/specchem-product.html">SpecTilt EX</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/specchem-product.html">SpecTilt WB</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Bond Breakers -->

    <!-- Cleaners, Strippers & Misc. Chemicals -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Cleaners, Strippers &amp; Misc. Chemicals</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Berry Clean</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">C-Set</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">K-Set</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Orange Peel - Citrus Cleaner</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Sealer Renew</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Solvent 100</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SpecBlast</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecFlex</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Xylene</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Cleaners, Strippers & Misc. Chemicals -->

    <!-- Curing Compounds and Cure & Sealers -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Curing Compounds and Cure &amp; Sealers</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Cure &amp; Seal 25</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Cure &amp; Seal 25 UV</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Cure &amp; Seal 30</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Cure &amp; Seal EX</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Cure &amp; Seal 25 EX</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Cure &amp; Seal 25 UV EX</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Cure &amp; Seal 30 EX</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Cure &amp; Seal WB</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Cure &amp; Seal WB 25</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Cure &amp; Seal WB 30</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Cure Shield</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Cure Shield EX</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">E-Cure</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SC Cure 500</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SpecRez</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Crystal Rez</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">PolyCure</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Curing Compounds and Cure & Sealers -->

    <!-- Decorative & Protective Sealers -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Decorative &amp; Protective Sealers</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Aqua Shine</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Crystal Shine</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Crystal Shine Matte</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Deco Shine</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Deco Shine Brown EX</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Deco Shine Matte</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Surface Grip</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Surface Shine</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Surface Shine Brown EX</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Surface Shine Gray/Brown</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Surface Shine Gray EX</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Surface Shine WB</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Decorative & Protective Sealers -->

    <!-- Dry Shake Hardeners & Toppings -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Dry Shakes Hardener &amp; Toppings</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Quartz Floor Hardener</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SpecPlate Floor Topping</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SpecPlate Hardener</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecPlate Nox</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Dry Shake Hardeners & Toppings -->

    <!-- Evaporation Retarders -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Evaporation Retarders</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecFilm</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SpecFilm Concentrate</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Evaporation Retarders -->

    <!-- Form Release Agents -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Form Release Agents</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Bio Strip WB</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Bio Strip WB Concentrate</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Deco Liquid Release</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Dry Deck WB</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">EZ Clean &amp; Release</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Form Seasoning WB</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Precast 80</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecStrip</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecStrip Plus</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SpecStrip Supreme</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SpecStrip Ultra Blue</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecStrip VOC 100</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecStrip WB</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">TriAct</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">V-Release</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Form Release Agents -->

    <!-- Grouts & Anchoring Cements -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Grouts &amp; Anchoring Cements</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Por-Rok</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SC Metallic Grout</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SC Multipurpose Grout</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SC Precision Grout</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SC Precision Grout HS</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SpecPoxy Grout</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SpecPoxy Grout HS</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecRock</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Super Por-Rok</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">UW Grout</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Grouts & Anchoring Cements -->

    <!-- Latex Bonding Agents -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Latex Bonding Agents</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Concrete Glue</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SpecPrime</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SpecWeld</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Strong Bond</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Stucco Bond</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Latex Bonding Agents -->

    <!-- Liquid Hardeners -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Liquid Hardeners</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Cure Hard</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">LithSeal Lite</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">LithSeal SC</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Spec-O-Lith</a>
         <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SpecGuard</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecHard</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Liquid Hardeners -->

    <!-- Paving Curing Compounds -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Paving Curing Compounds</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Pave Cure AMS</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Pave Cure CW</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Pave Cure CW w/Dye - TX Type I</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Pave Cure Rez</a>
         <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Pave Cure Rez White</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Pave Cure Rez White - TX Type II</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Pave Cure WW-300</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SpecCity White</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Paving Curing Compounds -->

    <!-- Repair Mortars -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Repair Mortars</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Duo Patch</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Final Finish</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">OverCrete</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Por-Rox Aqua Plug</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Por-Rox Concrete Patch</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Pro Plug 45</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">RepCon 928</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">RepCon 928 FS</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">RepCon H</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">RepCon H-350</a>
         <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">RepCon UW Mortar</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">RepCon V/O</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">RevCrete</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SC Foundation Coating</a>
         <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SC Concrete Finish</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Sleek 100 SLU</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecFlow</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecLevel PCT</a>
         <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SpecSmooth</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SpecPatch 15</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecPatch 30</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecPatch 5</a>
         <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SpecPatch Light</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SpecPlug</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Super SpecPlug</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecPrep SB</a>
         <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SpecRock</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SpecShot Plus</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Total Patch</a>
         <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Repair Mortars -->

    <!-- Specialty Epoxies & Polurea Products -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Specialty Epoxies &amp; Polyurea Products</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Poly Fix</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Rapid Flex CJ - Control Joint Filler</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Rapid Flex 90</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Rapid Flex Colorant System</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Spec CJ Guard</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SpecPoxy 1000</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SpecPoxy 2000</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecPoxy 2000 LPL</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecPoxy 3000 FS</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SpecPoxy 500</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SpecPoxy Binder</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecPoxy CJ</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecPoxy Coating</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SpecPoxy Grout</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SpecPoxy Mortar</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecPoxy Sealer</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Specialty Epoxies & Polyurea Products -->

    <!-- Surface Retarders -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Surface Retarders</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecEtch</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SpecEtch Deep</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Versa Etch</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Surface Retarders -->

    <!-- Waterproofing & Damp Proofing -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Waterproofing &amp; Damp Proofing</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Max-A-Patch ACP</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Max-A-Seal DP</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Max-A-Seal WP</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Max-A-Tack TTC</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Waterproofing & Damp Proofing -->

    <!-- Water Repellents -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Water Repellents</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">All Shield EX</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">All Shield WB</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SpecShield WB</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecTilt WB Extra</a>
         <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">SpecSilane 100</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">SpecSilane 20 WB</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">SpecSilane 40 WB</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Water Repellents -->
    
   
  </div>
  <!-- End Mega Menu -->
</li>
<!-- End Products -->

<!-- Content -->
<li class="hs-has-sub-menu nav-item">
  <a id="companyMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='company'){active}" href="#" role="button" aria-expanded="false">Content</a>

  <!-- Mega Menu -->
  <div class="hs-sub-menu dropdown-menu" aria-labelledby="companyMegaMenu" style="min-width: 14rem;">

    <!-- Sales Tools -->
    <div class="hs-has-sub-menu nav-item">
      <a id="authenticationMegaMenu" class="hs-mega-menu-invoker dropdown-item dropdown-toggle @@if(subcategory=='authentication'){active}" href="#" role="button" aria-expanded="false">Sales Tools</a>

      <div class="hs-sub-menu dropdown-menu" aria-labelledby="authenticationMegaMenu" style="min-width: 14rem;">
        <a class="dropdown-item @@if(link=='page-login.html'){active}" href="@@autopath/page-login.html">Dot Approvals</a>
        <a class="dropdown-item @@if(link=='page-signup.html'){active}" href="@@autopath/page-signup.html">Product Calculator</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Product Crossover</a>
        <a class="dropdown-item @@if(link=='page-reset-password.html'){active}" href="@@autopath/page-reset-password.html">Product Selection</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <!-- End Sales Tools -->

    <a class="dropdown-item @@if(link=='page-about.html'){active}" href="@@autopath/page-about.html">Case Studies</a>
    <a class="dropdown-item @@if(link=='page-services.html'){active}" href="@@autopath/page-services.html">Project Highlights</a>
    <a class="dropdown-item @@if(link=='page-customer-stories.html'){active}" href="@@autopath/page-customer-stories.html">Training Materials</a>
    <a class="dropdown-item @@if(link=='page-customer-story.html'){active}" href="@@autopath/page-customer-story.html">General Documents</a>
    <a class="dropdown-item @@if(link=='page-careers.html'){active}" href="@@autopath/page-careers.html">Data Sheets</a>
    <a class="dropdown-item @@if(link=='page-careers-overview.html'){active}" href="@@autopath/page-careers-overview.html">SpecGuide</a>
  </div>
  <!-- End Mega Menu -->
</li>
<!-- End Content -->

<!-- Blog -->
  <li class="nav-item">
    <a class="nav-link" href="#">Blog</a>
  </li>
<!-- End Blog -->

