
<!-- Products -->
<li class="hs-has-sub-menu nav-item">
  <a id="companyMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='company'){active}" href="#" role="button" aria-expanded="false">Products</a>

  <!-- Mega Menu -->
  <div class="hs-sub-menu dropdown-menu" aria-labelledby="companyMegaMenu" style="min-width: 14rem;">

    <a class="dropdown-item @@if(link=='page-about.html'){active}" href="@@autopath/products.html">All Products</a>
    <a class="dropdown-item @@if(link=='page-about.html'){active}" href="@@autopath/bond-breakers.html">Bond Breakers</a>
    <a class="dropdown-item @@if(link=='page-services.html'){active}" href="@@autopath/cleaners-strippers.html">Cleaners, Strippers &amp; Misc. Chemicals</a>
    <a class="dropdown-item @@if(link=='page-customer-stories.html'){active}" href="@@autopath/curing-compounds-and-cure-sealers.html">Curing Compounds and Cure &amp; Sealers</a>
    <a class="dropdown-item @@if(link=='page-customer-story.html'){active}" href="@@autopath/decorative-concrete-sealers.html">Decorative &amp; Protective Sealers</a>
    <a class="dropdown-item @@if(link=='page-careers.html'){active}" href="@@autopath/dry-shake-hardeners.html">Dry Shakes Hardener &amp; Toppings</a>
    <a class="dropdown-item @@if(link=='page-careers-overview.html'){active}" href="@@autopath/evaporation-retarders.html">Evaporation Retarders</a>
    <a class="dropdown-item @@if(link=='page-about.html'){active}" href="@@autopath/form-release-agents.html">Form Release Agents</a>
    <a class="dropdown-item @@if(link=='page-services.html'){active}" href="@@autopath/grouts-anchoring-cements.html">Grouts &amp; Anchoring Cements</a>
    <a class="dropdown-item @@if(link=='page-customer-stories.html'){active}" href="@@autopath/latex-bonding-agents.html">Latex Bonding Agents</a>
    <a class="dropdown-item @@if(link=='page-customer-story.html'){active}" href="@@autopath/liquid-hardeners.html">Liquid Hardeners</a>
    <a class="dropdown-item @@if(link=='page-careers.html'){active}" href="@@autopath/paving-curing-compounds.html">Paving Curing Compounds</a>
    <a class="dropdown-item @@if(link=='page-careers-overview.html'){active}" href="@@autopath/repair-mortars.html">Repair Mortars</a>
    <a class="dropdown-item @@if(link=='page-customer-stories.html'){active}" href="@@autopath/specialty-epoxies-polyurea-products.html">Specialty Epoxies &amp; Polyurea Products</a>
    <a class="dropdown-item @@if(link=='page-customer-story.html'){active}" href="@@autopath/surface-retarders.html">Surface Retarders</a>
    <a class="dropdown-item @@if(link=='page-careers.html'){active}" href="@@autopath/waterproofing-damp-proofing.html">Waterproofing &amp; Damp Proofing</a>
    <a class="dropdown-item @@if(link=='page-careers-overview.html'){active}" href="@@autopath/water-repellents.html">Water Repellents</a>

  </div>
  <!-- End Mega Menu -->
</li>
<!-- End Products -->

<!-- Sales Tools -->
<li class="hs-has-sub-menu nav-item">
  <a id="companyMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='company'){active}" href="#" role="button" aria-expanded="false">Sales Tools</a>

  <!-- Mega Menu -->
  <div class="hs-sub-menu dropdown-menu" aria-labelledby="companyMegaMenu" style="min-width: 14rem;">

    <a class="dropdown-item @@if(link=='systems.html'){active}" href="@@autopath/systems.html">Systems</a>
    <a class="dropdown-item @@if(link=='videos.html'){active}" href="@@autopath/videos.html">Videos</a>
    <a class="dropdown-item @@if(link=='dot-approvals.html'){active}" href="@@autopath/dot-approvals.html">Dot Approvals</a>
    <a class="dropdown-item @@if(link=='master-crossover.html'){active}" href="@@autopath/master-crossover.html">Master Crossover</a>
    <a class="dropdown-item @@if(link=='master-crossover.html'){active}" href="@@autopath/product-calculator.html">Product Calculator</a>
  </div>
  <!-- End Mega Menu -->
</li>
<!-- End Sales Tools -->

<!-- Company -->
<li class="hs-has-sub-menu nav-item">
  <a id="companyMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='company'){active}" href="#" role="button" aria-expanded="false">Company</a>

  <!-- Mega Menu -->
  <div class="hs-sub-menu dropdown-menu" aria-labelledby="companyMegaMenu" style="min-width: 14rem;">

    <a class="dropdown-item @@if(link=='systems.html'){active}" href="@@autopath/company.html">About</a>
    <a class="dropdown-item @@if(link=='videos.html'){active}" href="@@autopath/people.html">People</a>
    <a class="dropdown-item @@if(link=='dot-approvals.html'){active}" href="@@autopath/careers.html">Careers</a>
    <a class="dropdown-item @@if(link=='master-crossover.html'){active}" href="@@autopath/locations.html">Locations</a>
  </div>
  <!-- End Mega Menu -->
</li>
<!-- Company -->

<!--- Projects -->
<li class="nav-item">
  <a class="nav-link" href="projects.html">Projects</a>
</li>
<!-- End Projects -->

<!--- Blog -->
<li class="nav-item">
  <a class="nav-link" href="blog.html">Blog</a>
</li>
<!-- End Blog -->
